:root {
	--mocha-rosewater: rgb(245, 224, 220);
	--mocha-flamingo: rgb(242, 205, 205);
	--mocha-pink: rgb(245, 194, 231);
	--mocha-mauve: rgb(203, 166, 247);
	--mocha-red: rgb(243, 139, 168);
	--mocha-maroon: rgb(235, 160, 172);
	--mocha-peach: rgb(250, 179, 135);
	--mocha-yellow: rgb(249, 226, 175);
	--mocha-green: rgb(166, 227, 161);
	--mocha-teal: rgb(148, 226, 213);
	--mocha-sky: rgb(137, 220, 235);
	--mocha-sapphire: rgb(116, 199, 236);
	--mocha-blue: rgb(137, 180, 250);
	--mocha-lavender: rgb(180, 190, 254);
	--mocha-text: rgb(205, 214, 244);
	--mocha-subtext1: rgb(186, 194, 222);
	--mocha-subtext0: rgb(166, 173, 200);
	--mocha-overlay2: rgb(147, 153, 178);
	--mocha-overlay1: rgb(127, 132, 156);
	--mocha-overlay0: rgb(108, 112, 134);
	--mocha-surface2: rgb(88, 91, 112);
	--mocha-surface1: rgb(69, 71, 90);
	--mocha-surface0: rgb(40, 41, 54);
	--mocha-base: rgb(30, 30, 46);
	--mocha-mantle: rgb(24, 24, 37);
	--mocha-crust: rgb(17, 17, 27);

	--latte-rosewater: rgb(220, 138, 120);
	--latte-flamingo: rgb(221, 120, 120);
	--latte-pink: rgb(234, 118, 203);
	--latte-mauve: rgb(136, 57, 239);
	--latte-red: rgb(210, 15, 57);
	--latte-maroon: rgb(230, 69, 83);
	--latte-peach: rgb(254, 100, 11);
	--latte-yellow: rgb(223, 142, 29);
	--latte-green: rgb(64, 160, 43);
	--latte-teal: rgb(23, 146, 153);
	--latte-sky: rgb(4, 165, 229);
	--latte-sapphire: rgb(32, 159, 181);
	--latte-blue: rgb(30, 102, 245);
	--latte-lavender: rgb(114, 135, 253);
	--latte-text: rgb(76, 79, 105);
	--latte-subtext1: rgb(92, 95, 119);
	--latte-subtext0: rgb(108, 111, 133);
	--latte-overlay2: rgb(124, 127, 147);
	--latte-overlay1: rgb(140, 143, 161);
	--latte-overlay0: rgb(156, 160, 176);
	--latte-surface2: rgb(172, 176, 190);
	--latte-surface1: rgb(188, 192, 204);
	--latte-surface0: rgb(204, 208, 218);
	--latte-base: rgb(239, 241, 245);
	--latte-mantle: rgb(230, 233, 239);
	--latte-crust: rgb(220, 224, 232);

	--underline-height: 2px;
}

* {
	color: var(--text);
	font-size: 12px;
	font-weight: 500;
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}

.yasb-bar {
	padding: 0;
	margin: 0;
	background-color: var(--latte-base);
}

.yasb-bar.dark {
	background-color: var(--mocha-base);
}

.yasb-bar .label {
	font-size: 12px;
	color: var(--latte-text);
}

.yasb-bar .icon {
	font-size: 20px;
}

.yasb-bar.dark .label {
	color: var(--mocha-text);
}

.widget {
	padding: 0 8px;
	margin: 0 4px;
}

.widget .label {
	padding: 0px 2px;
}

.widget .label.alt {
	padding: 0px 8px;
}

.active-window-widget {
	border-radius: 18px;
	margin-left: 8px;
}

.tooltip {
	background-color: var(--latte-base);
	border-radius: 4px;
	color: var(--latte-text);
	padding: 5px 10px;
	font-size: 14px;
	font-family: "Segoe UI";
	font-weight: 600;
	margin-top: 4px;
}

/* doesn't work because .tooltip requires reload? */
.yasb-bar.dark .tooltip {
	background-color: var(--mocha-base);
	color: var(--mocha-text);
}

.komorebi-workspaces {
	padding: 0px 2px;
	margin: 0px 0px;
}

.komorebi-workspaces .ws-btn {
	border: none;
	margin: 0 1px 0 1px;
	height: 30px;
	padding: 0 2px;
	border-bottom: var(--underline-height) solid;
	border-color: var(--latte-base);
}

.yasb-bar.dark .komorebi-workspaces .ws-btn {
	border-color: var(--mocha-base);
}

.komorebi-workspaces .ws-btn .label {
	font-size: 14px;
	color: var(--latte-crust);
}

.yasb-bar.dark .komorebi-workspaces .ws-btn .label {
	color: var(--mocha-crust);
}

.komorebi-workspaces .ws-btn:hover {
	border-bottom: var(--underline-height) solid;
	border-color: var(--latte-pink);
}

.yasb-bar.dark .komorebi-workspaces .ws-btn:hover {
	border-color: var(--mocha-pink);
}

.komorebi-workspaces .ws-btn.populated .label {
	color: var(--latte-text);
}

.yasb-bar.dark .komorebi-workspaces .ws-btn.populated .label {
	color: var(--mocha-text);
}

.komorebi-workspaces .ws-btn.active {
	width: 30px;
	border-bottom-color: var(--latte-pink);
}

.komorebi-workspaces .ws-btn.active .label {
	font-weight: 900;
	color: var(--latte-pink);
}

.yasb-bar.dark .komorebi-workspaces .ws-btn.active .label {
	color: var(--mocha-pink);
}

.yasb-bar.dark .komorebi-workspaces .ws-btn.active {
	border-bottom-color: var(--mocha-pink);
}

.komorebi-stack .window {
	margin-left: 4px;
}

.komorebi-stack .window .label {
	font-weight: 300;
}

.komorebi-stack .window.active .label {
	font-weight: 700;
	color: var(--latte-pink);
}

.yasb-bar.dark .komorebi-stack .window.active .label {
	color: var(--mocha-pink);
}

.komorebi-layout-menu .menu-item {
	padding: 2px 8px;
	font-size: 16px;
	font-weight: 600;
}
.komorebi-layout-menu .menu-item-icon {
	font-size: 16px;
}

.uptime {
	margin-bottom: 10px;
	color: rgba(191, 202, 219, 0.726);
	font-weight: 600;
	font-family: "Segoe UI";
}

.power-menu-widget .label {
	color: #f38ba8;
}

.power-menu-popup {
	background-color: rgba(24, 24, 37, 0.9);
	border-radius: 12px;
	border: 4px solid rgb(41, 42, 58);
}

.power-menu-popup .button {
	padding: 0;
	width: 240px;
	height: 120px;
	border-radius: 8px;
	background-color: rgb(41, 42, 58);
	font-family: "Segoe UI";
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 8px;
}

.power-menu-popup .button.hover {
	background-color: rgb(55, 56, 75);
	border: 1px solid rgb(55, 56, 75);
}

.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.95);
	font-family: "Segoe UI";
}

.power-menu-popup .button .icon {
	padding-top: 8px;
	color: rgba(255, 255, 255, 0.25);
}

.power-menu-popup .button.cancel .icon {
	color: rgba(243, 139, 168, 0.55);
}

.power-menu-popup .button.cancel .label {
	color: rgba(243, 139, 168, 0.95);
}

.power-menu-popup .button.shutdown .icon {
	color: rgba(137, 180, 250, 0.55);
}

.power-menu-popup .button.shutdown .label {
	color: rgba(137, 180, 250, 0.95);
}

/* ICONS */
.icon {
	margin-right: 4px;
}

.cpu-widget .icon,
.memory-widget .icon {
	color: var(--latte-lavender);
}

.yasb-bar.dark .cpu-widget .icon,
.yasb-bar.dark .memory-widget .icon {
	color: var(--mocha-lavender);
}

.weather-widget {
	border-bottom: var(--underline-height) solid;
	border-color: var(--latte-yellow);
	background-color: transparent;
}

.yasb-bar.dark .weather-widget {
	border-color: var(--mocha-yellow);
	background-color: transparent;
}

.weather-widget .label,
.weather-widget .icon {
	color: var(--latte-yellow);
}

.yasb-bar.dark .weather-widget .label,
.yasb-bar.dark .weather-widget .icon {
	color: var(--mocha-yellow);
}

.weather-widget .icon {
}

.weather-widget .icon.clearNight {
}

.weather-widget .icon.cloudyNight {
}

.memory-widget {
	border-bottom: 1px solid #cba6f7;
	background-color: rgba(203, 166, 247, 0);
}

.memory-widget .label {
	color: #cba6f7;
}

.volume-widget {
	border-bottom: 1px solid #89b4fa;
	background-color: rgba(137, 180, 250, 0);
}

.volume-widget .icon {
	color: #89b4fa;
}

.volume-widget .label {
	color: #89b4fa;
}

.taskbar-widget .app-icon {
	padding: 0 6px;
	border: none;
	margin: 0;
}

.power-menu-widget {
	border-bottom: 1px solid #f38ba8;
	background-color: rgba(243, 139, 168, 0);
}

.clock-widget {
	background-color: transparent;
	border-bottom: var(--underline-height) solid;
	border-color: var(--latte-sapphire);
}

.yasb-bar.dark .clock-widget {
	background-color: transparent;
	border-color: var(--mocha-sapphire);
}

/* NEW MEDIA WIDGET */
.media-widget {
	padding: 0;
	margin: 0;
	border-radius: 0;
}

.media-widget .label {
	color: var(--latte-text);
	padding: 0 4px;
	font-weight: 600;
}

.yasb-bar.dark .media-widget .label {
	color: var(--mocha-text);
}

.media-widget .btn {
	color: var(--latte-text);
	padding: 0 3px;
	margin: 4px 0;
	font-family: Segoe Fluent Icons;
}

.yasb-bar.dark .media-widget .btn {
	color: var(--mocha-text);
}

.media-widget .btn:hover {
	color: var(--latte-text);
}

.yasb-bar.dark .media-widget .btn:hover {
	color: var(--mocha-text);
}

.media-widget .btn.play {
	background-color: #313244;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #4e525c;
	background-color: rgba(0, 0, 0, 0);
}

.systray .button {
	background-color: transparent;
	border-radius: 4px;
	width: 22px;
	height: 22px;
}

.systray .button:hover {
	background: var(--latte-surface1);
}

.yasb-bar.dark .systray .button:hover {
	background: var(--mocha-surface1);
}

.systray .unpinned-visibility-btn {
	width: 16px;
	height: 12px;
	border: 1px solid;
	border-color: var(--latte-surface0);
	border-radius: 5px;
}

.yasb-bar.dark .systray .unpinned-visibility-btn {
	border-color: var(--mocha-surface0);
}

.systray .unpinned-visibility-btn:hover {
	background-color: var(--latte-pink);
}

.yasb.dark .systray .unpinned-visibility-btn:hover {
	background-color: var(--mocha-pink);
}

.wallpapers-widget {
	padding: 0 0px 0 0px;
	margin: 0px;
}
.wallpapers-widget .widget-container {
	padding: 0 0px 0 0px;
	margin: 0px;
}
.wallpapers-gallery-window {
	background-color: var(--latte-overlay0);
}
.yasb.dark .wallpapers-gallery-window {
	background-color: var(--mocha-overlay0);
}

.pomodoro-widget {
	padding: 0;
}
.pomodoro-menu {
	background-color: var(--latte-surface);
	color: var(--latte-subtext1);
}
.yasb.dark .pomodoro-menu {
	background-color: var(--mocha-surface);
	color: var(--mocha-subtext1);
}
.pomodoro-menu .header {
	font-size: 16px;
	font-weight: 600;
	max-height: 0px;
	color: var(--latte-subtext1);
}
.yasb.dark .pomodoro-menu .header {
	color: var(--mocha-subtext1);
}
.pomodoro-menu .status {
	font-size: 18px;
	font-weight: 600;
	color: var(--latte-subtext0);
}
.yasb.dark .pomodoro-menu .status {
	color: var(--mocha-subtext0);
}
.pomodoro-menu .session {
	font-size: 12px;
	color: var(--latte-subtext0);
}
.yasb.dark .pomodoro-menu .session {
	color: var(--mocha-subtext0);
}
.pomodoro-widget .label.paused,
.pomodoro-widget .icon.paused {
	color: var(--latte-surface0);
}
.yasb.dark .pomodoro-widget .label.paused,
.yasb.dark .pomodoro-widget .icon.paused {
	color: var(--mocha-surface0);
}
.pomodoro-widget .label.work,
.pomodoro-widget .icon.work {
	color: var(--latte-green);
}
.yasb.dark .pomodoro-widget .label.work,
.yasb.dark .pomodoro-widget .icon.work {
	color: var(--mocha-green);
}
.pomodoro-widget .label.break,
.pomodoro-widget .icon.break {
	color: var(--latte-sapphire);
}
.yasb.dark .pomodoro-widget .label.break,
.yasb.dark .pomodoro-widget .icon.break {
	color: var(--mocha-sapphire);
}
.pomodoro-menu .button {
	background-color: var(--latte-pink);
	color: var(--latte-base);
	border: none;
	border-radius: 4px;
	padding: 6px 12px;
}
.yasb.dark .pomodoro-menu .button {
	background-color: var(--mocha-pink);
	color: var(--mocha-base);
}
